[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=voiceover
Exec=/usr/bin/single-instance /opt/voiceover/bin/voiceover
Icon=/usr/share/icons/hicolor/80x80/apps/voiceover80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
